<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetUsHere For Rider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FCA56ED1C6D8B5900741014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FCA57061C6D8B5900741014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FCA57111C6D8B5A00741014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
